*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

html,
body,
#root{
    width:100%;
    min-height:100%;
    overflow-x:hidden;
}

body{
    background:#F8F9FF;
    overflow-x:hidden;
}

.app{
    width:100%;
    min-height:100dvh;
}

.layout{
   display:flex;
   align-items:stretch;
    min-height:100dvh;
    width:100%;
    overflow:hidden;

}

.layout > *{
    min-width:0;
}

@media (max-width:1180px){
    .layout{
        min-height:100dvh;
        overflow-y:auto;
    }
}

