*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

html,
body,
#root{
    width:100%;
    height:100%;
}

body{
    background:#F8F9FF;
}

.app{
    width:100%;
    height:100%;
}

.layout{
    display:flex;
    width:100%;
    height:100vh;
    overflow:hidden;
}