*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.invoiceContainerForm {
    flex:1;

    height:100vh;
    overflow-y:auto;

    padding:40px 5%;

    display:flex;
    flex-direction:column;
    gap:30px;

    background:#F8F9FF;
}
.invoiceFormHeader{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.leftHeader{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;

}
.rightHeader{
  width: 30%;
  height: auto;
  display: flex;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}
.rightHeader p{
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.Mainsection{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.leftSectionInvoice{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.RigthSectionInvoice{
    width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}
.grandTotal{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #E8ECFB;
  font-weight: bold;
  border-radius: 10px;
}
.leftTotal{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1F4FE0;
  font-size: 16px;
}
.rightTotal{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #1F4FE0;
  font-size: 18px;
}
.wordAmount{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #D7F0DD;
  background-color: #F1FAF4;
  font-size: 14px;
  color: #1F4FE0;
  font-weight: bold;
  border-radius: 10px;
}
.success{
  color: green;
  font-size: 20px;
  font-weight: bold;
}
.leftSectionInvoice p{
  font-size: 14px;
  font-weight: bold;
  color: #6A11CB;
}
.RigthSectionInvoice p{
    font-size: 16px;
  font-weight: bold;
  color: #0050CB;
}
.company, .client{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  background: #DFE3FA;
  gap: 10px;
}
.company h3, .client h3{
  font-size: 20px;
  font-weight: 600;
  color: #5400C3;
}
.company p, .client p{
  font-size: 16px;
  font-weight: bold;
  color: #0C0E16;
}
#special{
  font-weight: 500;
}

.contact{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;

  flex-direction: row;
  gap: 10px;

}
.contact p{
    color: #0050CB;
    cursor: pointer;
}
.border{
  width: 5px;
  height: 30px;
  background-color: #5400C3;
  border-radius: 10px;
}
#select{
  padding: 10px;
  background: none;
  outline: none;
  font-size: 14px;
  color: #0C0E16;
}
.invoiceInfo{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}
.infoInvoice{
  width: 55%;
  height: auto;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
justify-content: left;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
text-align: left;
  display: flex;
  flex-direction: column;
}

.gstType{
  width: 45%;
  height: auto;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
justify-content: left;
    align-items: flex-start;
    gap: 10px;
text-align: left;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.info h3, .gstType h3{
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  color: black;
  
}
.buttonsInvoice{
    width:100%;
    display:flex;
    justify-content:center;
    gap:15px;
}
.InvoiceTable{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
    overflow-x:auto;
    overflow-y:hidden;

}
.InvoiceTable th, .InvoiceTable td{
  border: 1px solid #C4C4C4;
  width: auto;
  background-color: #F8F9FF;
    padding:10px;
    font-size:14px;
    text-align:center;
}
.InvoiceTable th{
    font-weight:600;
    color:#5400C3;
}
.InvoiceTable td{
    font-weight:500;
    color:#0C0E16;
    width: auto;
}
.taxBtn{
    flex:1;
    padding:14px 20px;

    border:none;
    border-radius:12px;

    background:#F3F5FF;
    color:#5400C3;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:all 0.25s ease;
}
.placeOfSupplyInvoice{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.placeOfSupplyInvoice label{
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.placeOfSupplyInvoice select{
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}
.taxBtn:hover{
    transform:translateY(-2px);
    background:#E8DEFF;
}

.activeTaxBtn{
    flex:1;
    padding:14px 20px;

    border:none;
    border-radius:12px;

    background:linear-gradient(135deg,#6A11CB,#5400C3);
    color:white;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    box-shadow:0 8px 20px rgba(84,0,195,0.25);
    transform:translateY(-2px);
}
.invoiceNumber{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.invoiceNumber label{
  font-size: 14px;
  font-weight: 600;
  color: #5B5B5B;
}
.invoiceNumber input{
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}
.addresses{
  width: 70%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.billingAddress, .shippingAddress{
  width: 50%;
  height: auto;
  background-color: white;
  padding: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.billingAddress label, .shippingAddress label{
  font-size: 14px;
  font-weight: 600;
  color: #5B5B5B;
}
#desc{
  width: 20%;
}
#description{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  outline: none;
  align-items: flex-start;
  font-size: 12px;
  font-weight: bold;
  color: black;
  resize: none;
  overflow: hidden;
  gap: 10px;
}
#totalAmount{
  width: 10%;
}
#isTaxable{
  width: 1%;
}
#cgstAmount, #sgstAmount, #igstAmount{
  width: 9%;
}
#hsn{
  width: 10%;
}
#qty{
  width: 6%;
}
.addItemBtn{
  width: auto;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: none;
  background-color: #5400C3;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.btn{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.billingAddress input, .shippingAddress input{
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  word-wrap: break-word;

  font-size: 14px;
  font-weight: bold;
}
#sameAsBilling{
  width: 20px;
  height: 20px;
  accent-color: #5400C3;
}
.itemsInvoice{
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
}
.create{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.itemsInvoice h3{
  font-size: 20px;
  font-weight: 600;
  color: #5400C3;
}
.createBtn{
  width: auto;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: none;
  background-color: #5400C3;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.createBtn:hover{
  background-color: #6A11CB;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
#rate{
  width: 10%;
}
#taxable{
  width: 10%;
}